<h3>
  <%= link_to "", class: "collapse", data: { which: "add-screenshots-container" } do %> 
  <%= fa_icon "chevron-circle-right" %>
  <% end %>
  Add Screenshots
</h3>

<div class="add-screenshots-container">
  <%= render 'screenshots/create_remote.html.erb', screenshot: @screenshot %>
</div>

<%= text_field_tag "copy", "", class: "copy-link" %>

<h3>
  <%= link_to "", class: "collapse", data: { which: "screenshots-container" } do %> 
  <%= fa_icon "chevron-circle-right" %>
  <% end %>
  Screenshot List
</h3>

<%= render "screenshots/screenshots", screenshots: @article.screenshots, cached: true %> 

<h3>Article</h3>
<%= form_for @article, as: :article, url: article_path do |f| %>
  <%= render 'shared/error_messages', object: @article %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :hidden %>
    <%= f.check_box :hidden %>
  </div>

  <div>
    <%= f.label :pinned %>
    <%= f.check_box :pinned %>
  </div>

  <div>
    <%= f.label :published, "Publish On" %><br>
    <%= f.date_field :published %>
  </div>

  <div>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.submit "Publish Article" %>
  </div>
<% end %>
