<%= form_for @article, as: :article, url: articles_path do |f| %>
  <%= render 'shared/error_messages', object: @article %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :hidden %>
    <%= f.check_box :hidden %>
  </div>

  <div>
    <%= f.label :pinned %>
    <%= f.check_box :pinned %>
  </div>

  <div>
    <%= f.label :published, "Publish On" %><br>
    <%= f.date_field :published, value: Date.today %>
  </div>

  <div>
    <%= f.submit "Create New Article" %>
  </div>
<% end %>
