<%= provide :article, @article.parameterized %>

<div class="article-show">
  <div class="title-show">
    <%= pinned_icon @article %>
    <%= hidden_icon @article %>
    <%= @article.title %>
  </div>
  <div class="date-show">
    <%= @article.published.strftime("%B %e, %Y") %>
  </div>
</div>

<div class="content-show">
  <%= @article.markdown.html_safe %>
</div>

<div class="below-article">
  If you have any questions, feel free to send me an <a href="mailto:jdunn45@alumi.uwo.ca">email</a>.
</div>
