<h3>
  <%= link_to "", class: "collapse", data: { which: "add-screenshots-container" } do %> 
  <%= fa_icon "chevron-circle-right" %>
  <% end %>
  Add Screenshots
</h3>

<div class="add-screenshots-container">
  <%= form_for @screenshot, as: :screenshot, url: screenshots_path, remote: true do |f| %>
    <div id="screenshot-errors">
      <%= render 'shared/error_messages', object: @screenshot %>
    </div>

    <%= f.hidden_field :article_id %>

    <div>
      <%= f.label :image %><br>
      <%= f.file_field :image, accept: '.jpg,.png' %>
    </div>

    <div>
      <%= f.submit "Add Screenshot" %>
    </div>
  <% end %>
</div>

<%= text_field_tag "copy", "", class: "copy-link" %>

<h3>
  <%= link_to "", class: "collapse", data: { which: "screenshots-container" } do %> 
  <%= fa_icon "chevron-circle-right" %>
  <% end %>
  Screenshot List
</h3>

<div class="screenshots-container">
  <div id="screenshots" class="screenshots">
    <% @article.screenshots.each do |screenshot| %>
      <%= render "screenshots/link", screenshot: screenshot %> 
    <% end %>
  </div>
</div>

<h3>Article</h3>
<%= form_for @article, as: :article, url: article_path do |f| %>
  <%= render 'shared/error_messages', object: @article %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :hidden %>
    <%= f.check_box :hidden %>
  </div>

  <div>
    <%= f.label :published, "Publish On" %><br>
    <%= f.date_field :published, value: Date.today %>
  </div>

  <div>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.submit "Publish Article" %>
  </div>
<% end %>
