<div id=<%= "screenshot_#{screenshot.id}" %> class="screenshot">
  <div>
    <%= image_tag screenshot.image.url, class: "preview" %>
  </div>

  <div class="buttons">
    <div>
      <%= link_to screenshot.image.url, target: "_blank", title: "View image in new tab" do %>
        <%= fa_icon :image %>
      <% end %>
      <%= link_to "javascript:void(0)", onclick: "copyLink('#{Rails.application.config.url}#{screenshot.image.url}')", title: "Copy link to clipboard" do %> 
        <%= fa_icon :copy %>
      <% end %>
    </div>
    <div>
      <%= link_to screenshot_path(screenshot.id), method: :delete, remote: true, title: "Delete image" do %>
        <%= fa_icon :times %>
      <% end %>
    </div>
  </div>
</div>
