<!DOCTYPE html>
<html>
  <head>
    <title>Josh Dunn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="top"></div>

    <div class="container">
      <div class="info">
        <div><%= image_tag "me.jpg", class: "me" %></div>
        <div>
          <div>
            <div class="name">Josh Dunn</div>
            <div><%= link_to "Blog", root_path %></div>
            <% if resume? %>
              <div><%= link_to "Resume", resume_link, target: "_blank" %></div>
            <% end %>
            <div class="contact">
              <div>
                <%= link_to "//github.com/joshddunn", title: :Github do %>
                  <% fa_icon :github %>
                <% end %>
                <%= link_to "mailto:jdunn45@alumni.uwo.ca", title: :Email do %>
                  <% fa_icon :envelope %>
                <% end %>
              </div>
            </div>
            <div class="projects">
              <div>
                <%= fa_icon :link %>
                <%= link_to "pokeql.com", "http://pokeql.com", title: "Pokemon GraphQL API" %>
              </div>
              <div>
                <%= fa_icon :link %>
                <%= link_to "mtgql.com", "http://mtgql.com", title: "MTG GraphQL API" %>
              </div>
            </div>
          </div>

          <% if user_signed_in? %>
            <div class="actions">
              <div><%= link_to "Logout", destroy_user_session_path, method: :delete %></div>
              <div><%= link_to "New Article", new_article_path %></div>
              <% if yield(:article).present? %>
                <div><%= link_to "Edit Article", edit_article_path(yield(:article)) %></div>
                <div>
                  <%= link_to "Delete Article", article_path(yield(:article)), method: :delete, 
                                                                                   class: "delete",
                                                                                   data: { 
                                                                                     confirm: "Are you sure?" 
                                                                                   } %>
                </div>
              <% end %>
              <% if resume? %>
                <div>
                  <%= link_to "Delete Resume", resume_path(resume_id), method: :delete, 
                                                                       class: "delete",
                                                                       data: { 
                                                                         confirm: "Are you sure?" 
                                                                       } %>
                </div>
              <% else %>
                <div>
                  <%= link_to "Add Resume", new_resume_path %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

      </div>

      <div class="yield">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
